<!DOCTYPE html>

<html>
  <head>
    <title>soocc's socks</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <div class="navbar">
      <a class="abutton" href="https://soocc.github.io/donate">Support Me!</a>
      <div class="dropdown">
        <button class="abutton dropbtn">Fun Stuff
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <a class="abutton" href="https://soocc.github.io/about">About</a>
      <a class="abutton" href="https://soocc.github.io">Home</a>
      <a class="abutton" href="https://www.soocc.dev">Temp Site</a>
    </div>
    
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    
    <br><br><br>
    <p class="margin5px">soocc's socks! <a class="margin5px"href="https://github.com/soocc/soocc.github.io">GitHub</a>.</p>
  </body>
</html>
