<!DOCTYPE html>

<html>
  <head>
    <title>soocc's socks</title>
    <link rel="stylesheet" href="styles/styles.css">
    <style>
      .nav {
        display: inline-block;
        font-size: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        cursor: pointer;
        text-decoration: none;
        color: black;
      }
      
      .align-right {
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <button href="https://soocc.github.io">Home</a>
      <button href="https://soocc.github.io/about">About</a>
      <div class="dropdown">
        <button class="dropbtn">Fun Stuff
          <i class="fa fa-caret-down"></i>
        </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 
</div>
    
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    
    <br>
    <p>soocc's socks! <a href="https://github.com/soocc/soocc.github.io">GitHub</a>.</p>
  </body>
</html>
