<!DOCTYPE html>

<html>
  <head>
    <title>soocc's socks | official website</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <h1>soocc's socks</h1>
    <a href="https://soocc.github.io">Home</a>
    <a href="https://soocc.github.io/sockpvp">SockPvP</a>
    <a href="https://soocc.github.io/blog">Blog</a>
    <a href="https://www.soocc.dev">New Website</a>
    
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    
    <p>soocc's socks! <a href="https://github.com/soocc/soocc.github.io">GitHub</a>.</p>
  </body>
</html>
